.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  width: 150px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}
.App-intro {
  font-size: large;
}
.container .margin-bottom-10 {
  margin-bottom: 10px;
}
.container .margin-bottom-35 {
  margin-bottom: 35px;
}
.container .glyphicon {
  margin-right: 5px;
}
.container  .custom-bullet li {
  display: block;
  text-align: left;
  font-size: 16px;
}
.container  .custom-bullet li .editable{
  border-bottom: 1px solid #a7a7f1;
  border-radius: 2px;
  padding: 3px;
}
.container .list-group-item h4{
  transition: 0.3s all;
}
.container .list-group-item h4:hover{
  color: #66afe9;
}
.container .list-group-item .btn{
  margin: 0 auto;
  margin-top: 10px;
}
.display-none {
  display: none;
}
.display-block {
  display: block;
}
